{% extends 'base.html' %}

{% block title %}
    Delete Snack
{% endblock title %}

{% block content %}
    <h1 class="mx-auto w-max text-2xl font-bold underline">Delete {{ snack.title }}</h1>
    <form class="bg-gray-300 mx-auto border-2 border-black rounded-2xl w-max p-2" method="POST">
        {% csrf_token %}
        <p class="mb-1">Do you really want to delete "{{ snack.title }}</p>
        <input class="block mx-auto px-1 bg-sky-400 text-white text-center border-2 border-black rounded" type="submit" value="OK">
    </form>
{% endblock content %}
